.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    
}

section{
    text-align: center;
    background-color: #acacac;
}
section img{

}