@media only screen and (min-width:900px){
    /***************    Hamburger   *****************/
        .hamburger {
            display: none;
        }
    
        .navigation{
            display: block;
        }
    
        .navigation ul {
            display: flex;
        }
        .navigation a {
            border: none;
        }
            
    /***********    Main    ***********/
        .card-layout {
            display: grid;
            grid-template-columns: repeat(2, auto);
        }


    /****************   HOME PAGE CARD LAYOUT   *********************/
       
        


    /****************   Footer    *****************/
        footer div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }
        footer section {
            padding: 1rem;
            text-align: left;
            }
}
@media only screen and (min-width:1200px){
    .card-layout {
        grid-template-columns: repeat(3, auto);
    }
        footer div {
            justify-content: space-evenly;
        }
}